<div id="NavigatorStyle">
    <div>
        <a id="NavigatorButton" href="/matches">
            <img src="./assets/ChatBubble.svg">
        </a>
        <a id="NavigatorButton" href="/rate">
            <img src="./assets/Matches.svg">
        </a>
        <a id="NavigatorButton" href="/edit">
            <img src="./assets/AccountCircle.svg">
        </a>
        <a id="NavigatorButton" href="/logout">
            <img src="./assets/LogOut.svg">
        </a>
    </div>
</div>