<div id="NavigatorStyle">
    <div>
        <a id="NavigatorButton" href="/matches">
            <img src="./images/ChatBubble.svg">
        </a>
        <a id="NavigatorButton" href="/rate">
            <img src="./images/Matches.svg">
        </a>
        <a id="NavigatorButton" href="/edit">
            <img src="./images/AccountCircle.svg">
        </a>
        <a id="NavigatorButton" href="/logout">
            <img src="./images/LogOut.svg">
        </a>
    </div>
</div>