<div id="NavigatorStyle">
    <a id="NavigatorButton" href="/matches">Matches</a></li>
    <a id="NavigatorButton" href="/rate">Rate</a></li>
    <a id="NavigatorButton" href="/edit">Edit Profile</a></li>
    <a id="NavigatorButton" href="/logout">Logout</a></li>
</div>