body {
    background: linear-gradient(#B6E5FF, #A6DEF0, #A3DEFF, #75CFEB, #52C4E9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Archivo";
    overflow-x: hidden;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

@font-face {
    font-family: "Archivo";
    src: url("./assets/Archivo.ttf")
}

#ZunderIcon{
    margin: 30px;
    background-color: white;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-inline: auto;

}

#container{
    max-width: 620px;
    padding: 40px;
    padding-top: 20px;
}


#loginButton {
    background-color: #369AC6;
    border-radius: 12px;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 12px;
    margin: 30px;
}
#loginButton:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}
#registerButton{
    background-color: #369AC6;
    border-radius: 12px;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    font-size: 12px;
    margin: 30px;
}
#logoutButton {
    background-color: #369AC6;
    border-radius: 12px;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    border: 1px white;
    font-size: 12px;
}
#logoutButton:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}
input{
    border-radius: 12px;
    border: none;
    outline: none;
    padding: 10px;
    font-family: "Archivo";
    margin-bottom: 3px;
    border-bottom: 1px solid black;

}



#NavigatorStyle{
    overflow:hidden;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #369AC6;
}
#NavigatorButton{
    padding: 30px 40px;
    margin: 0px auto;
    text-align: center;
    display: inline-block;
}
#NavigatorButton > img{
    width: 50px;
}


#ImageContainer{
    position: relative;
    width: 100%;
    margin-inline: auto;
    margin-top: 30px;
    text-align: left;

}

#RateImages{
    border-radius: 14px;
    height: auto;
    max-width: 100%;

}
#NameAge{
    font-size: 40px;
    color: white;
    font-family: "Archivo";
    font-weight: bold;
    text-shadow: 1px 1px black;
    position: absolute;
    left: 30px;
    bottom: 50px;
}

#degreeCoursePosition{
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: 0px;
    text-shadow: 1px 1px black;
}
#BioStyle{
    text-shadow: 1px 1px black;
    font-weight: normal;
    font-size: 15px;
    position: relative;
}

#LikeHateButtonsPosition{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 15px;

}

#Love{
    outline: none;
    padding: 0px;
    font-family: "Archivo";
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-right: 150px;
}

#Love > img{

    width: 80px;
}

#Hate{
    border: none;
    outline: none;
    padding: 0px;
    font-family: "Archivo";
    background-color: rgba(0, 0, 0, 0);
    color: white;

}


#Hate > img{

    width: 80px;

}

#Matches{
    text-align: left;
    color: white;
    width: auto;
    min-width: 500px;
}


#MatchesStyle{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    position: relative;
    color: white;
    min-width: 100%;
    max-width: 500px;
}

#MatchesWindow{
    padding-right: 20px;
}

#MatchesWindow > img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}



#ChatsStyle{
    display: flex;
    text-align: left;
    flex-direction: column;
    color: white;
    max-width: 500px;
    padding-bottom: 100px;
}

#ChatsWindow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 20px;
}

#ChatsWindow > img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#ChatsWindow2 {
    padding-left: 20px;
    padding-top: 10px;
    max-width: 350px;
}

#ChatsWindow2 * {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#ChatsWindow2 > a {
    font-size: 30px;
}

#ProfileEditStyle{
    display: grid;
    row-gap: 0px;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 100px;
}

#ProfileEditStyle > h3 {
    text-align: left;
    padding-right: 10px;
    color: white;
}

#ProfileEditStyle > input{
    border-radius: 12px;
    border: none;
    outline: none;
    font-family: "Archivo";
}

#ProfileEditStyle > #saveButton{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 40px;
    background-color: #369AC6;
    border-radius: 12px;
    color: white;
    padding: 15px 50px;
    text-decoration: none;
    transition-duration: 0.4s;
    text-align: center;
    border: 1px white;
    font-size: 12px;

}

#LogoutPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}


#EditImages{
    border-radius: 14px;
    height: auto;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}

#ProfileEditStyle > #aboutMe{
}