{{>layout/header}}


<div id="container">
<form method="post" action="./save" enctype="multipart/form-data">


<div id="ProfileEditStyle">
    <div id="ImageContainer">
        {{#imageNames}}
            <img id="EditImages" src="../images/{{.}}" width="300">
        {{/imageNames}}
    </div>

    <input type="file" id="imageInput" name="image" accept="image/*">

    {{#profilePicture}}
        <img src="../images/{{.}}" width="50">
    {{/profilePicture}}

    <input type="file" id="pfp" name="pfp" accept="image/*">

    <h3>First Name</h3>
    <input type="text" id="firstName" name="firstName" placeholder="First Name" value="{{firstName}}" required autofocus>

    <h3>Last Name</h3>
    <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="{{lastName}}" required autofocus>

    <h3>Birth Day</h3>
    <input type="date" id="dateOfBirth" name="dateOfBirth" placeholder="Date of Birth" value="{{dateOfBirth}}" required autofocus>

    <h3>Gender</h3>
    <select type="text" id="gender" name="Gender" required autofocus>
        {{#genderOptions}}
            <option value="{{name}}" {{options}}>{{name}}</option>
        {{/genderOptions}}
    </select>

    <h3>Looking for</h3>
    <select type="text" id="interestedIn" name="Interested In" required autofocus multiple>
        {{#interestedInOptions}}
            <option name="{{name}}" value="{{name}}" {{options}}>{{name}}</option>
        {{/interestedInOptions}}
    </select>

    <h3>Degree</h3>
    <input type="text" id="degreeCourse" name="degreeCourse" placeholder="Degree Course" value="{{degreeCourse}}" required autofocus>

    <h3>Semester</h3>
    <input type="number" id="semseter" name="semester" placeholder="Semester" value="{{semester}}" required autofocus>

    <h3>About Me</h3>
    <input type="text" id="aboutMe" name="aboutMe" placeholder="About Me" value="{{aboutMe}}" required autofocus>

    {{>snippet/csrfToken}}
    <button type="submit" id="saveButton">Save</button>

</div>

</form>
</div>
{{#exists}}
    {{>snippet/nav}}
{{/exists}}
{{>layout/footer}}