{{>layout/header}}
{{#exists}}
    {{>snippet/nav}}
{{/exists}}

<form method="post" action="./save" enctype="multipart/form-data">
    <h2>Profile</h2>

    {{#imageNames}}
        <img src="../images/{{.}}" width="300">
    {{/imageNames}}
    <p>
        <input type="file" id="image" name="image" accept="image/*">
    </p>
    <p>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" placeholder="First Name" value="{{firstName}}" required autofocus>
    </p>
    <p>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" placeholder="Last Name" value="{{lastName}}" required autofocus>
    </p>
    <p>
        <label for="dateOfBirth">Date of Birth</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" placeholder="Date of Birth" value="{{dateOfBirth}}" required autofocus>
    </p>
    <p>
        <label for="gender">Gender</label>
        <select type="text" id="gender" name="Gender" required autofocus>
            {{#genderOptions}}
                <option value="{{name}}" {{options}}>{{name}}</option>
            {{/genderOptions}}
        </select>
    </p>
    <p>
        <label for="interestedIn">Interested In</label>
        <select type="text" id="interestedIn" name="Interested In" required autofocus multiple>
            {{#interestedInOptions}}
                <option name="{{name}}" value="{{name}}" {{options}}>{{name}}</option>
            {{/interestedInOptions}}
        </select>
    </p>
    <p>
        <label for="degreeCourse">Degree Course</label>
        <input type="text" id="degreeCourse" name="degreeCourse" placeholder="Degree Course" value="{{degreeCourse}}" required autofocus>
    </p>
    <p>
        <label for="aboutMe">About Me</label>
        <input type="text" id="aboutMe" name="aboutMe" placeholder="About Me" value="{{aboutMe}}" required autofocus>
    </p>
    <p>
        <label for="semester">Semester</label>
        <input type="number" id="semseter" name="semester" placeholder="Semester" value="{{semester}}" required autofocus>
    </p>
    {{>snippet/csrfToken}}
    <button type="submit">Save</button>
</form>

{{>layout/footer}}