{{>layout/header}}

{{#authenticated}}
    {{>snippet/nav}}
{{/authenticated}}

<h1>Zunder</h1>
<img src="./images/logo.png" width="300">
{{^authenticated}}
    <p><a href="./login">Login</a></p>
    <p><a href="./register">Register</a></p>
{{/authenticated}}

{{#authenticated}}
    <p><a href="./rate">Rate</a></p>
    <p><a href="./profile/likes">Likes</a></p>
    <p><a href="./profile/matches">Matches</a></p>
    <p><a href="./profile/edit">Edit Profile</a></p>
    {{>snippet/logoutLink}}
{{/authenticated}}

{{>layout/footer}}