{{>layout/header}}

<h1>Best Page of the World</h1>
{{^authenticated}}
    <p><a href="./welcome">Login</a></p>
    <p><a href="./register">Register</a></p>
{{/authenticated}}

{{#authenticated}}
    <p><a href="./profile/edit">Edit Profile</a></p>
    {{>snippet/logoutLink}}
{{/authenticated}}

{{>layout/footer}}