{{>layout/header}}

{{#authenticated}}
    {{>snippet/nav}}
{{/authenticated}}

<h1>Zunder</h1>
<img src="./images/logo.png" width="300">
{{^authenticated}}
    <p><a href="./login">Login</a></p>
    <p><a href="./register">Register</a></p>
{{/authenticated}}

{{#authenticated}}
    <ul>
        <li><a href="./rate" style="display:inline-block;">Rate</a></li>
        <li><a href="./profile/likes" style="display:inline-block;">Likes</a></li>
        <li><a href="./profile/matches" style="display:inline-block;">Matches</a></li>
        <li><a href="./profile/edit" style="display:inline-block;">Edit Profile</a></li>
    </ul>
    {{>snippet/logoutLink}}
{{/authenticated}}

{{>layout/footer}}