{{>layout/header}}
{{>snippet/nav}}

<h2>Matches</h2>

{{#matches}}
    <img src="../images/{{profilePictureName}}" width="50">
    <h3><a href="../chat/with?profileId={{id}}">{{name}}, {{age}}</a></h3>
    <p></p>
{{/matches}}
</br>
{{#chats}}
    <img src="../images/{{profilePictureName}}" width="50">
    <h3><a href="../chat/with?profileId={{id}}">{{name}}, {{age}}</a></h3>
    <p>{{lastChatMessage.message}}</p>
{{/chats}}

{{^matches}}
    {{^chats}}
        <p>Looks you don't have any matches yet!</p>
    {{/chats}}
{{/matches}}

{{>layout/footer}}