{{>layout/header}}
{{>snippet/nav}}

<h1>Matches</h1>

{{#matches}}
    <h3><a href="../chat/with?profileId={{id}}">{{name}}, {{age}}</a></h3>
    <p></p>
{{/matches}}
</br>
{{#chats}}
    <h3><a href="../chat/with?profileId={{id}}">{{name}}, {{age}}</a></h3>
    <p>{{lastChatMessage.message}}</p>
{{/chats}}

{{^profiles}}
    <p>Looks you don't have andy matches yet!</p>
{{/profiles}}

{{>layout/footer}}