{{>layout/header}}


<div id="container">
{{#profiles}}
    <div id="ImageContainer">
      {{#imageNames}}
              <img id="RateImages" src="./images/{{.}}">
              <div id="NameAge">
                  {{name}}, {{age}}
                  <div id="degreeCoursePosition">
                      {{degreeCourse}} {{semester}}. Semester
                  </div>
                  <div id="BioStyle">
                      {{aboutMe}}
                  </div>
              </div>
      {{/imageNames}}
    </div>
    <div id="LikeHateButtonsPosition">
                <form  method="post" action="./rate?profileId={{id}}&isLike=true">
                    <button id="Love" type="submit" value="Like">
                        <img src="./assets/LikeButton.svg">
                    </button>
                    {{>snippet/csrfToken}}

                <form  method="post" action="./rate?profileId={{id}}&isLike=false">
                <button id="Hate" type="submit">
                    <img src="./assets/HateButton.svg">
                </button>
                {{>snippet/csrfToken}}
    </div>

<br/>
{{/profiles}}

{{^profiles}}
<p>Looks like you've already rated everyone!</p>
{{/profiles}}
</div>
{{>snippet/nav}}
{{>layout/footer}}