{{>layout/header}}

<form method="post" action="./register">
    <div id="ZunderIcon">
        <img src="./assets/zunder.svg">
    </div>
    <div>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
    </div>
    <div>
        <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    {{>snippet/csrfToken}}
        <div>
    <button id="registerButton" type="submit">Register</button>
        </div>
</form>

<div><a href="./login">Login</a></div>

{{>layout/footer}}